.idea/
**/.idea/
**.pyc

#python virtual environment
venv/

# dont upload database configs, they might contain passwords
.pycon_configs/

pycon_settings.ini



# Logfiles
*.log

# Logfiles from file rotation
*.log.*

*.mp4

# MDF files
*.mdf
*.mf4

